# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Java / Spring Boot
# =========================
target/
build/
out/
*.class
*.jar
*.war
*.log

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# Node Modules
# =========================
node_modules/
dist/
coverage/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
docker-data/

# =========================
# AWS
# =========================
.aws/

# =========================
# Test Reports
# =========================
surefire-reports/